*,  *:before, *:after {
  box-sizing: border-box;
  user-select: none;
}

.checked {
  color: grey;

  // cross out
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    height: 1px;
    left: 30px;
    width: calc(100% - 75px);
    background: grey;
  }
}



.list {
  width: 505px;
  margin-left: 50px;

  ul {
    padding: 0;
    box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.75);
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid grey;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top:  0;
      height: 100%;
      left: 25px;
      width: 1px;
      background: rgba(0,0,0,.3);
    }

    .description {
      padding-left: 5px;
    }
  }

  li {
    position: relative;
    list-style: none;
    padding: 5px;
    transition: height 0.5s, padding 0.5s, background-color 0.5s;
    height: 30px;

    &.odd {
      background: lightblue;
    }

    &.hide {
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;
    }

    .input {
      margin-left: 5px;
      width: calc(100% - 60px);
      border: none;
      font-size: 12px;
    }
  }

  .right {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}